## how to read xml file

In [3]:
import pandas as pd

In [4]:
pd.read_xml(r"/Users/rajbunny/Downloads/sample1 (1).xml")

,name,age,email,title,author,year
0,John Doe,30.0,john.doe@example.com,None,None,NaN
1,Jane Smith,25.0,jane.smith@example.com,None,None,NaN
2,None,NaN,None,The Adventure Begins,Robert Johnson,2022.0
3,None,NaN,None,Harry Potter,Leo,2023.0

## XPath helps pick specific parts of an XML file

In [6]:
data=pd.read_xml(r"/Users/rajbunny/Downloads/sample3.xml",xpath="person")
data

          name  age                   email
0     John Doe   30    john.doe@example.com
1   Jane Smith   25  jane.smith@example.com
2     John Doe   30    john.doe@example.com
3   Jane Smith   25  jane.smith@example.com
4     John Doe   30    john.doe@example.com
5   Jane Smith   25  jane.smith@example.com
6     John Doe   30    john.doe@example.com
7   Jane Smith   25  jane.smith@example.com
8     John Doe   30    john.doe@example.com
9   Jane Smith   25  jane.smith@example.com
10    John Doe   30    john.doe@example.com
11  Jane Smith   25  jane.smith@example.com
12    John Doe   30    john.doe@example.com
13  Jane Smith   25  jane.smith@example.com
14    John Doe   30    john.doe@example.com
15  Jane Smith   25  jane.smith@example.com
16    John Doe   30    john.doe@example.com
17  Jane Smith   25  jane.smith@example.com
18    John Doe   30    john.doe@example.com
19  Jane Smith   25  jane.smith@example.com
20    John Doe   30    john.doe@example.com
21  Jane Smith   25  jane.smith@example.com
22    John Doe   30    john.doe@example.com
23  Jane Smith   25  jane.smith@example.com
24    John Doe   30    john.doe@example.com
25  Jane Smith   25  jane.smith@example.com
26    John Doe   30    john.doe@example.com
27  Jane Smith   25  jane.smith@example.com
28    John Doe   30    john.doe@example.com
29  Jane Smith   25  jane.smith@example.com
30    John Doe   30    john.doe@example.com
31  Jane Smith   25  jane.smith@example.com
32    John Doe   30    john.doe@example.com
33  Jane Smith   25  jane.smith@example.com
34    John Doe   30    john.doe@example.com
35  Jane Smith   25  jane.smith@example.com
36    John Doe   30    john.doe@example.com
37  Jane Smith   25  jane.smith@example.com
38    John Doe   30    john.doe@example.com
39  Jane Smith   25  jane.smith@example.com
40    John Doe   30    john.doe@example.com
41  Jane Smith   25  jane.smith@example.com
42    John Doe   30    john.doe@example.com
43  Jane Smith   25  jane.smith@example.com
44    John Doe   30    john.doe@example.com
45  Jane Smith   25  jane.smith@example.com
46    John Doe   30    john.doe@example.com
47  Jane Smith   25  jane.smith@example.com

In [7]:
pd.read_xml(r"/Users/rajbunny/Downloads/sample3.xml",xpath="book")

                   title          author  year
0   The Adventure Begins  Robert Johnson  2022
1   The Adventure Begins  Robert Johnson  2022
2   The Adventure Begins  Robert Johnson  2022
3   The Adventure Begins  Robert Johnson  2022
4   The Adventure Begins  Robert Johnson  2022
5   The Adventure Begins  Robert Johnson  2022
6   The Adventure Begins  Robert Johnson  2022
7   The Adventure Begins  Robert Johnson  2022
8   The Adventure Begins  Robert Johnson  2022
9   The Adventure Begins  Robert Johnson  2022
10  The Adventure Begins  Robert Johnson  2022
11  The Adventure Begins  Robert Johnson  2022
12  The Adventure Begins  Robert Johnson  2022
13  The Adventure Begins  Robert Johnson  2022
14  The Adventure Begins  Robert Johnson  2022
15  The Adventure Begins  Robert Johnson  2022
16  The Adventure Begins  Robert Johnson  2022
17  The Adventure Begins  Robert Johnson  2022
18  The Adventure Begins  Robert Johnson  2022
19  The Adventure Begins  Robert Johnson  2022
20  The Adventure Begins  Robert Johnson  2022
21  The Adventure Begins  Robert Johnson  2022
22  The Adventure Begins  Robert Johnson  2022
23  The Adventure Begins  Robert Johnson  2022

## save back to xml

In [8]:
data.to_xml()

"<?xml version='1.0' encoding='utf-8'?>\n<data>\n  <row>\n    <index>0</index>\n    <name>John Doe</name>\n    <age>30</age>\n    <email>john.doe@example.com</email>\n  </row>\n  <row>\n    <index>1</index>\n    <name>Jane Smith</name>\n    <age>25</age>\n    <email>jane.smith@example.com</email>\n  </row>\n  <row>\n    <index>2</index>\n    <name>John Doe</name>\n    <age>30</age>\n    <email>john.doe@example.com</email>\n  </row>\n  <row>\n    <index>3</index>\n    <name>Jane Smith</name>\n    <age>25</age>\n    <email>jane.smith@example.com</email>\n  </row>\n  <row>\n    <index>4</index>\n    <name>John Doe</name>\n    <age>30</age>\n    <email>john.doe@example.com</email>\n  </row>\n  <row>\n    <index>5</index>\n    <name>Jane Smith</name>\n    <age>25</age>\n    <email>jane.smith@example.com</email>\n  </row>\n  <row>\n    <index>6</index>\n    <name>John Doe</name>\n    <age>30</age>\n    <email>john.doe@example.com</email>\n  </row>\n  <row>\n    <index>7</index>\n    <name>Jane Smith</name>\n    <age>25</age>\n    <email>jane.smith@example.com</email>\n  </row>\n  <row>\n    <index>8</index>\n    <name>John Doe</name>\n    <age>30</age>\n    <email>john.doe@example.com</email>\n  </row>\n  <row>\n    <index>9</index>\n    <name>Jane Smith</name>\n    <age>25</age>\n    <email>jane.smith@example.com</email>\n  </row>\n  <row>\n    <index>10</index>\n    <name>John Doe</name>\n    <age>30</age>\n    <email>john.doe@example.com</email>\n  </row>\n  <row>\n    <index>11</index>\n    <name>Jane Smith</name>\n    <age>25</age>\n    <email>jane.smith@example.com</email>\n  </row>\n  <row>\n    <index>12</index>\n    <name>John Doe</name>\n    <age>30</age>\n    <email>john.doe@example.com</email>\n  </row>\n  <row>\n    <index>13</index>\n    <name>Jane Smith</name>\n    <age>25</age>\n    <email>jane.smith@example.com</email>\n  </row>\n  <row>\n    <index>14</index>\n    <name>John Doe</name>\n    <age>30</age>\n    <email>john.doe@example.com</email>\n  </row>\n  <row>\n    <index>15</index>\n    <name>Jane Smith</name>\n    <age>25</age>\n    <email>jane.smith@example.com</email>\n  </row>\n  <row>\n    <index>16</index>\n    <name>John Doe</name>\n    <age>30</age>\n    <email>john.doe@example.com</email>\n  </row>\n  <row>\n    <index>17</index>\n    <name>Jane Smith</name>\n    <age>25</age>\n    <email>jane.smith@example.com</email>\n  </row>\n  <row>\n    <index>18</index>\n    <name>John Doe</name>\n    <age>30</age>\n    <email>john.doe@example.com</email>\n  </row>\n  <row>\n    <index>19</index>\n    <name>Jane Smith</name>\n    <age>25</age>\n    <email>jane.smith@example.com</email>\n  </row>\n  <row>\n    <index>20</index>\n    <name>John Doe</name>\n    <age>30</age>\n    <email>john.doe@example.com</email>\n  </row>\n  <row>\n    <index>21</index>\n    <name>Jane Smith</name>\n    <age>25</age>\n    <email>jane.smith@example.com</email>\n  </row>\n  <row>\n    <index>22</index>\n    <name>John Doe</name>\n    <age>30</age>\n    <email>john.doe@example.com</email>\n  </row>\n  <row>\n    <index>23</index>\n    <name>Jane Smith</name>\n    <age>25</age>\n    <email>jane.smith@example.com</email>\n  </row>\n  <row>\n    <index>24</index>\n    <name>John Doe</name>\n    <age>30</age>\n    <email>john.doe@example.com</email>\n  </row>\n  <row>\n    <index>25</index>\n    <name>Jane Smith</name>\n    <age>25</age>\n    <email>jane.smith@example.com</email>\n  </row>\n  <row>\n    <index>26</index>\n    <name>John Doe</name>\n    <age>30</age>\n    <email>john.doe@example.com</email>\n  </row>\n  <row>\n    <index>27</index>\n    <name>Jane Smith</name>\n    <age>25</age>\n    <email>jane.smith@example.com</email>\n  </row>\n  <row>\n    <index>28</index>\n    <name>John Doe</name>\n    <age>30</age>\n    <email>john.doe@example.com</email>\n  </row>\n  <row>\n    <index>29</index>\n    <name>Jane Smith</name>\n    <age>25</age>\n    <email>jane.smith@example.com</email>\n  </row>\n  <row>\n    <index>30</index>\n    <name>John Doe</name>\n    <age>30</age>\n    <email>john.doe@example.com</email>\n  </row>\n  <row>\n    <index>31</index>\n    <name>Jane Smith</name>\n    <age>25</age>\n    <email>jane.smith@example.com</email>\n  </row>\n  <row>\n    <index>32</index>\n    <name>John Doe</name>\n    <age>30</age>\n    <email>john.doe@example.com</email>\n  </row>\n  <row>\n    <index>33</index>\n    <name>Jane Smith</name>\n    <age>25</age>\n    <email>jane.smith@example.com</email>\n  </row>\n  <row>\n    <index>34</index>\n    <name>John Doe</name>\n    <age>30</age>\n    <email>john.doe@example.com</email>\n  </row>\n  <row>\n    <index>35</index>\n    <name>Jane Smith</name>\n    <age>25</age>\n    <email>jane.smith@example.com</email>\n  </row>\n  <row>\n    <index>36</index>\n    <name>John Doe</name>\n    <age>30</age>\n    <email>john.doe@example.com</email>\n  </row>\n  <row>\n    <index>37</index>\n    <name>Jane Smith</name>\n    <age>25</age>\n    <email>jane.smith@example.com</email>\n  </row>\n  <row>\n    <index>38</index>\n    <name>John Doe</name>\n    <age>30</age>\n    <email>john.doe@example.com</email>\n  </row>\n  <row>\n    <index>39</index>\n    <name>Jane Smith</name>\n    <age>25</age>\n    <email>jane.smith@example.com</email>\n  </row>\n  <row>\n    <index>40</index>\n    <name>John Doe</name>\n    <age>30</age>\n    <email>john.doe@example.com</email>\n  </row>\n  <row>\n    <index>41</index>\n    <name>Jane Smith</name>\n    <age>25</age>\n    <email>jane.smith@example.com</email>\n  </row>\n  <row>\n    <index>42</index>\n    <name>John Doe</name>\n    <age>30</age>\n    <email>john.doe@example.com</email>\n  </row>\n  <row>\n    <index>43</index>\n    <name>Jane Smith</name>\n    <age>25</age>\n    <email>jane.smith@example.com</email>\n  </row>\n  <row>\n    <index>44</index>\n    <name>John Doe</name>\n    <age>30</age>\n    <email>john.doe@example.com</email>\n  </row>\n  <row>\n    <index>45</index>\n    <name>Jane Smith</name>\n    <age>25</age>\n    <email>jane.smith@example.com</email>\n  </row>\n  <row>\n    <index>46</index>\n    <name>John Doe</name>\n    <age>30</age>\n    <email>john.doe@example.com</email>\n  </row>\n  <row>\n    <index>47</index>\n    <name>Jane Smith</name>\n    <age>25</age>\n    <email>jane.smith@example.com</email>\n  </row>\n</data>"